
body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}
header {
  background-color: #00695c;
  color: white;
  padding: 1rem;
  text-align: center;
}
main {
  padding: 1rem;
}
.articles ul {
  list-style: none;
  padding: 0;
}
.articles li {
  margin-bottom: 0.5rem;
}
.article {
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 8px;
}
.article img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 1rem auto;
}
footer {
  background-color: #00695c;
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
}
